* {
    margin: 0;
    padding: 0;
}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FEFEFE;
}

li.header {
    float: left;
}

a.header {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

    a.header:hover {
        background-color: #808080;
    }
